# Creating Redshift Cluster using the AWS python SDK

In [21]:
import pandas as pd
import boto3
import json
import psycopg2
from create_tables import *
from etl import *

# STEP 0: Create AWS secret and access key

- Create a new IAM user in your AWS account
- Give it `AdministratorAccess`, From `Attach existing policies directly` Tab
- Take note of the access key and secret 
- Edit the file `dwh.cfg` in the same folder as this notebook and fill
<font color='red'>
<BR>
[AWS]<BR>
KEY= YOUR_AWS_KEY<BR>
SECRET= YOUR_AWS_SECRET<BR>
<font/>

In [3]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param        Value
0        DWH_CLUSTER_TYPE   multi-node
1           DWH_NUM_NODES            4
2           DWH_NODE_TYPE    dc2.large
3  DWH_CLUSTER_IDENTIFIER   dwhCluster
4                  DWH_DB       songdb
5             DWH_DB_USER      student
6         DWH_DB_PASSWORD  Password123
7                DWH_PORT         5439
8       DWH_IAM_ROLE_NAME      dwhRole

In [4]:
import boto3

ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

# STEP 1: IAM ROLE
- Create an IAM Role that makes Redshift able to access S3 bucket (ReadOnly)

In [5]:
from botocore.exceptions import ClientError

#1.1 Create the role, 
try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    
    
print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.1 Creating a new IAM Role
1.2 Attaching Policy
1.3 Get the IAM role ARN
arn:aws:iam::995978081066:role/dwhRole

# STEP 2:  Redshift Cluster

- Create a RedShift Cluster
- For complete arguments to `create_cluster`, see [docs](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/redshift.html#Redshift.Client.create_cluster)

In [6]:
try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

## 2.1 *Describe* the cluster to see its status
- run this block several times until the cluster status becomes `Available`

In [11]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,student
4,DBName,songdb
5,Endpoint,"{'Address': 'dwhcluster.cbwkpbxnim6m.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-0594b37d
7,NumberOfNodes,4

<h2> 2.2 Take note of the cluster <font color='red'> endpoint and role ARN </font> </h2>

In [12]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  dwhcluster.cbwkpbxnim6m.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::995978081066:role/dwhRole

## STEP 3: Open an incoming  TCP port to access the cluster ednpoint

In [13]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DWH_PORT),
        ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-2723e11c')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

# STEP 4: ccluster

In [14]:
%load_ext sql

In [15]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://student:Password123@dwhcluster.cbwkpbxnim6m.us-west-2.redshift.amazonaws.com:5439/songdb

'Connected: student@songdb'

# STEP 5: Get Connection

In [16]:
conn = psycopg2.connect("host="+DWH_ENDPOINT+" dbname="+DWH_DB+" user="+DWH_DB_USER+" password="+DWH_DB_PASSWORD+" port="+DWH_PORT)
cur = conn.cursor()
print(cur)

<cursor object at 0x7f1f0e3edbe8; closed: 0>

# STEP 6: Make sure you can connect to the S3

In [23]:
import boto3

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                     )

sampleDbBucket =  s3.Bucket("udacity-dend")

for obj in sampleDbBucket.objects.filter(Prefix="song_data"):
    print(obj)
    break
    
for obj in sampleDbBucket.objects.filter(Prefix="log_data"):
    print(obj)
    break

s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/')

# STEP 7: Create Tables for partitioned and non-partitioned data
- We are going to use a benchmarking data set common for benchmarking star schemas in data warehouses.
- The data is pre-loaded in a public bucket on the `us-west-2` region

## 7.1 Create staging table

In [ ]:
%%sql 

DROP TABLE IF EXISTS staging_events;
DROP TABLE IF EXISTS staging_songs;


CREATE TABLE staging_events (
        artist VARCHAR,
        auth VARCHAR,
        first_name VARCHAR,
        gender CHAR,
        session_item INT,
        last_name VARCHAR,
        length FLOAT,
        level VARCHAR,
        location VARCHAR,
        method VARCHAR,
        page VARCHAR,
        registration BIGINT,
        session_id INT,
        song VARCHAR ,
        status INT,
        ts BIGINT,
        user_agent VARCHAR,
        user_id INT
    );

CREATE TABLE staging_songs (
        artist_id VARCHAR,
        artist_location VARCHAR,
        artist_latitude FLOAT,
        artist_longitude FLOAT,
        artist_name VARCHAR,
        duration FLOAT,
        num_songs INT,
        song_id VARCHAR,
        title VARCHAR,
        year INT
    );

## 7.1 Create tables (no distribution strategy) in the `nodist` schema

In [25]:
%%sql 
CREATE SCHEMA IF NOT EXISTS nodist;
SET search_path TO nodist;

DROP TABLE IF EXISTS staging_events;
DROP TABLE IF EXISTS staging_songs;
DROP TABLE IF EXISTS songplays;
DROP TABLE IF EXISTS users;
DROP TABLE IF EXISTS songs;
DROP TABLE IF EXISTS artists;
DROP TABLE IF EXISTS time;

CREATE TABLE staging_events (
        artist VARCHAR,
        auth VARCHAR,
        first_name VARCHAR,
        gender CHAR,
        session_item INT,
        last_name VARCHAR,
        length FLOAT,
        level VARCHAR,
        location VARCHAR,
        method VARCHAR,
        page VARCHAR,
        registration BIGINT,
        session_id INT,
        song VARCHAR ,
        status INT,
        ts BIGINT,
        user_agent VARCHAR,
        user_id INT
    );

CREATE TABLE staging_songs (
        artist_id VARCHAR,
        artist_location VARCHAR,
        artist_latitude FLOAT,
        artist_longitude FLOAT,
        artist_name VARCHAR,
        duration FLOAT,
        num_songs INT,
        song_id VARCHAR,
        title VARCHAR,
        year INT
    );

CREATE TABLE songplays (
        songplay_id INT IDENTITY(0, 1) NOT NULL,
        start_time TIMESTAMP NOT NULL,
        user_id VARCHAR NOT NULL,
        level VARCHAR NOT NULL,
        song_id VARCHAR NOT NULL,
        artist_id VARCHAR NOT NULL,
        session_id INT,
        location VARCHAR,
        user_agent VARCHAR
    );

CREATE TABLE users (
        user_id VARCHAR NOT NULL,
        first_name VARCHAR NOT NULL,
        last_name VARCHAR NOT NULL,
        gender CHAR,
        level VARCHAR NOT NULL
    );

CREATE TABLE songs (
        song_id VARCHAR NOT NULL,
        title VARCHAR NOT NULL,
        artist_id VARCHAR NOT NULL,
        year INT,
        duration INT
    );

CREATE TABLE artists (
        artist_id VARCHAR NOT NULL,
        name VARCHAR NOT NULL,
        location VARCHAR,
        latitude FLOAT,
        longitude FLOAT
    );

CREATE TABLE time (
        start_time TIMESTAMP NOT NULL,
        hour INT NOT NULL,
        day INT NOT NULL,
        week INT NOT NULL,
        month INT NOT NULL,
        year INT NOT NULL,
        weekday INT NOT NULL
    );

Dropping Table

ProgrammingError: can't execute an empty query

## 7.2 Create tables (with a distribution strategy) in the `dist` schema

In [ ]:
%%sql

CREATE SCHEMA IF NOT EXISTS dist;
SET search_path TO dist;

DROP TABLE IF EXISTS staging_events;
DROP TABLE IF EXISTS staging_songs;
DROP TABLE IF EXISTS songplays;
DROP TABLE IF EXISTS users;
DROP TABLE IF EXISTS songs;
DROP TABLE IF EXISTS artists;
DROP TABLE IF EXISTS time;

CREATE TABLE staging_events (
        artist              	    VARCHAR,
        auth                	    VARCHAR,
        first_name          	    VARCHAR,
        gender              	    CHAR,
        session_item        	    INT,
        last_name           	    VARCHAR,
        length              	    FLOAT,
        level               	    VARCHAR,
        location            	    VARCHAR,
        method              	    VARCHAR,
        page                	    VARCHAR,
        registration        	    BIGINT,
        session_id          	    INT                     	sortkey distkey,
        song                	    VARCHAR ,
        status              	    INT,
        ts                  	    BIGINT,
        user_agent          	    VARCHAR,
        user_id             	    INT
    );

CREATE TABLE staging_songs (
        artist_id           	    VARCHAR                 	sortkey distkey,
        artist_location     	    VARCHAR,
        artist_latitude     	    FLOAT,
        artist_longitude    	    FLOAT,
        artist_name         	    VARCHAR,
        duration            	    FLOAT,
        num_songs           	    INT,
        song_id             	    VARCHAR,
        title               	    VARCHAR,
        year                	    INT
    );

CREATE TABLE songplays (
        songplay_id         	    INT IDENTITY(0, 1)      	   NOT NULL     	  PRIMARY KEY,
        start_time          	    TIMESTAMP NOT NULL,
        user_id             	    VARCHAR                 	   NOT NULL     	  distkey,
        level               	    VARCHAR NOT NULL,
        song_id             	    VARCHAR NOT NULL,
        artist_id           	    VARCHAR NOT NULL,
        session_id          	    INT,
        location            	    VARCHAR,
        user_agent          	    VARCHAR
    );

CREATE TABLE users (
        user_id             	    VARCHAR                 	   NOT NULL     	  PRIMARY KEY,
        first_name          	    VARCHAR                 	   NOT NULL,
        last_name           	    VARCHAR                 	   NOT NULL,
        gender              	    CHAR,
        level               	    VARCHAR                 	   NOT NULL
    );

CREATE TABLE songs (
        song_id             	    VARCHAR                 	   NOT NULL     	  PRIMARY KEY,
        title               	    VARCHAR                 	   NOT NULL,
        artist_id           	    VARCHAR                 	   NOT NULL,
        year                	    INT,
        duration            	    INT
    );

CREATE TABLE artists (
        artist_id           	   VARCHAR                  	   NOT NULL     	  PRIMARY KEY,
        name                	   VARCHAR                  	   NOT NULL,
        location            	   VARCHAR,
        latitude            	   FLOAT,
        longitude           	   FLOAT
    );

CREATE TABLE time (
        start_time          	  TIMESTAMP                 	   NOT NULL     	  PRIMARY KEY,
        hour                	  INT                       	   NOT NULL,
        day                 	  INT                       	   NOT NULL,
        week                	  INT                       	   NOT NULL,
        month               	  INT                       	   NOT NULL,
        year                	  INT                       	   NOT NULL,
        weekday             	  INT                       	   NOT NULL
    );

# STEP 8: Copying tables
Our intent here is to run 2 COPY operations for the 2 tables respectively as show below.

However, we want to do accomplish the following:
- Make sure that the `DWH_ROLE_ARN` is substituted with the correct value in each query
- Perform the data loading twice once for each schema (dist and nodist)
- Collect timing statistics to compare the insertion times
Thus, we have scripted the insertion as found below in the function `loadTables` which
returns a pandas dataframe containing timing statistics for the copy operations

## 8.1 Automate  the copying

In [ ]:
def loadTables(schema, tables):
    loadTimes = []
    SQL_SET_SCEMA = "SET search_path TO {};".format(schema)
    %sql $SQL_SET_SCEMA
    
    SQL_EVENT_COPY = """
    COPY staging_events
    FROM {}
    IAM_ROLE {}
    JSON {};""".format(config.get('S3', 'LOG_DATA'), config.get('SECURITY', 'ROLE_ARN'), config.get('S3', 'LOG_JSONPATH'))
    
    SQL_SONG_COPY = """
    COPY staging_songs
    FROM {}
    IAM_ROLE {}
    FORMAT AS JSON 'auto';""".format(config.get('S3', 'SONG_DATA'), config.get('SECURITY', 'ROLE_ARN'))
    
    
    print("======= LOADING TABLE: ** {} ** IN SCHEMA ==> {} =======".format('TABLE staging_events', schema))
    print(SQL_EVENT_COPY)

    t0 = time()
    %sql $SQL_EVENT_COPY
    loadTime = time()-t0
    loadTimes.append(loadTime)
    print("=== DONE IN: {0:.2f} sec\n".format(loadTime))
    
    print("======= LOADING TABLE: ** {} ** IN SCHEMA ==> {} =======".format('TABLE staging_songs', schema))
    print(SQL_SONG_COPY)

    t0 = time()
    %sql $SQL_SONG_COPY
    loadTime = time()-t0
    loadTimes.append(loadTime)
    print("=== DONE IN: {0:.2f} sec\n".format(loadTime))

    return pd.DataFrame({"table":tables, "loadtime_"+schema:loadTimes}).set_index('table')

In [ ]:
#-- List of the tables to be loaded
tables = ["TABLE staging_events","TABLE staging_songs"]

#-- Insertion twice for each schema (WARNING!! EACH CAN TAKE MORE THAN 10 MINUTES!!!)
nodistStats = loadTables("nodist", tables)
distStats = loadTables("dist", tables)

# STEP 8: Load  data into staging tables

In [84]:
print("load staging tables")
load_staging_tables(cur,conn)
print("Done")

load staging tables
insert tables
Done

# STEP 9: Load  data into the cluster

In [ ]:
print("Load non-partitioned data into the cluster")
insert_tables(cur,conn)
print("Done")

In [86]:
%sql SELECT COUNT(*) FROM songplays;

 * postgresql://student:***@dwhcluster.cbwkpbxnim6m.us-west-2.redshift.amazonaws.com:5439/songdb
   postgresql://student:***@dwhcluster.cfmpefmzpkka.us-east-2.redshift.amazonaws.com:5439/songdb
1 rows affected.

[(333,)]

In [88]:
%sql SELECT * FROM songplays LIMIT 3;

 * postgresql://student:***@dwhcluster.cbwkpbxnim6m.us-west-2.redshift.amazonaws.com:5439/songdb
   postgresql://student:***@dwhcluster.cfmpefmzpkka.us-east-2.redshift.amazonaws.com:5439/songdb
3 rows affected.

[(39, datetime.datetime(2018, 11, 23, 15, 21, 17), '30', 'paid', 'SOQDMXT12A6D4F8255', 'ART5MUE1187B98C961', 691, 'San Jose-Sunnyvale-Santa Clara, CA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (103, datetime.datetime(2018, 11, 26, 8, 28, 48), '97', 'paid', 'SOJWLVW12A67ADE81C', 'AROPXGU1187B98987F', 837, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (167, datetime.datetime(2018, 11, 5, 18, 13, 57), '73', 'paid', 'SOLZOBD12AB0185720', 'ARPDVPJ1187B9ADBE9', 255, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"')]

In [89]:
%%sql
SELECT users.first_name, users.last_name, COUNT(songs.title) as songs_listened
FROM songplays
JOIN songs ON (songplays.song_id = songs.song_id)
JOIN artists ON (songplays.artist_id = artists.artist_id)
JOIN users ON (songplays.user_id = users.user_id)
GROUP BY users.first_name, users.last_name
ORDER BY songs_listened DESC;

 * postgresql://student:***@dwhcluster.cbwkpbxnim6m.us-west-2.redshift.amazonaws.com:5439/songdb
   postgresql://student:***@dwhcluster.cfmpefmzpkka.us-east-2.redshift.amazonaws.com:5439/songdb
57 rows affected.

[('Chloe', 'Cuevas', 51),
 ('Tegan', 'Levine', 36),
 ('Kate', 'Harrell', 33),
 ('Aleena', 'Kirby', 24),
 ('Jacob', 'Klein', 23),
 ('Mohammad', 'Rodriguez', 18),
 ('Lily', 'Koch', 15),
 ('Matthew', 'Jones', 15),
 ('Layla', 'Griffin', 15),
 ('Jacqueline', 'Lynch', 15),
 ('Jayden', 'Graves', 10),
 ('Emily', 'Benson', 10),
 ('Sara', 'Johnson', 9),
 ('Avery', 'Watkins', 8),
 ('Kinsley', 'Young', 7),
 ('Harper', 'Barrett', 7),
 ('Ava', 'Robinson', 6),
 ('Rylan', 'George', 6),
 ('Colm', 'Santana', 4),
 ('Adler', 'Barrera', 4),
 ('Stefany', 'White', 3),
 ('Kevin', 'Arellano', 3),
 ('Tucker', 'Garrison', 3),
 ('Anabelle', 'Simpson', 3),
 ('Aiden', 'Hess', 3),
 ('Celeste', 'Williams', 3),
 ('Kaylee', 'Summers', 3),
 ('Ryann', 'Smith', 3),
 ('Hayden', 'Brock', 3),
 ('Jizelle', 'Benjamin', 3),
 ('Avery', 'Martinez', 3),
 ('Austin', 'Rosales', 3),
 ('Jaleah', 'Hayes', 2),
 ('Katherine', 'Gay', 2),
 ('Kaleb', 'Cook', 2),
 ('Theodore', 'Smith', 2),
 ('Jayden', 'Fox', 2),
 ('Chloe', 'Roth', 2),
 ('Bronson', 'Harris', 2),
 ('Sylvie', 'Cruz', 1),
 ('Noah', 'Chavez', 1),
 ('Samuel', 'Gonzalez', 1),
 ('Morris', 'Gilmore', 1),
 ('Lily', 'Burns', 1),
 ('Joseph', 'Gutierrez', 1),
 ('Sienna', 'Colon', 1),
 ('Ryan', 'Smith', 1),
 ('Ayla', 'Johnson', 1),
 ('Ayleen', 'Wise', 1),
 ('Cecilia', 'Owens', 1),
 ('Andrea', 'Butler', 1),
 ('Connar', 'Moreno', 1),
 ('Molly', 'Taylor', 1),
 ('Martin', 'Johnson', 1),
 ('Jayden', 'Bell', 1),
 ('Brantley', 'West', 1),
 ('Jordyn', 'Powell', 1)]

In [61]:
%%sql
SELECT CONCAT(users.first_name, users.last_name) as user, songs.title as song, artists.name as artist, time.day, time.month, time.year
FROM songplays
JOIN songs ON (songplays.song_id = songs.song_id)
JOIN artists ON (songplays.artist_id = artists.artist_id)
JOIN users ON (songplays.user_id = users.user_id)
JOIN time ON (songplays.start_time = time.start_time)
LIMIT 10;

 * postgresql://student:***@dwhcluster.cbwkpbxnim6m.us-west-2.redshift.amazonaws.com:5439/songdb
   postgresql://student:***@dwhcluster.cfmpefmzpkka.us-east-2.redshift.amazonaws.com:5439/songdb
10 rows affected.

[('AveryWatkins', 'Crazy', 'Pigeon John', 15, 11, 2018),
 ('JaydenGraves', "Don't Go", 'Starting Rock Feat. Diva Avari', 14, 11, 2018),
 ('MohammadRodriguez', 'Make Her Say', 'Kid Cudi / Kanye West / Common', 21, 11, 2018),
 ('AleenaKirby', 'Make Her Say', 'Kid Cudi / Kanye West / Common', 10, 11, 2018),
 ('MohammadRodriguez', 'Make Her Say', 'Kid Cudi', 21, 11, 2018),
 ('AleenaKirby', 'Make Her Say', 'Kid Cudi', 10, 11, 2018),
 ('SaraJohnson', 'Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 'Lonnie Gordon', 9, 11, 2018),
 ('ConnarMoreno', 'Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 'Lonnie Gordon', 14, 11, 2018),
 ('LilyKoch', 'Planet Caravan (Remastered LP Version)', 'Pantera', 7, 11, 2018),
 ('KayleeSummers', 'Given Up (Album Version)', 'Linkin Park', 27, 11, 2018)]

# STEP 5: Clean up your resources

In [26]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)
#### CAREFUL!!

{'Cluster': {'ClusterIdentifier': 'dwhcluster',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'MasterUsername': 'student',
  'DBName': 'songdb',
  'Endpoint': {'Address': 'dwhcluster.cbwkpbxnim6m.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2021, 3, 17, 16, 3, 53, 747000, tzinfo=tzlocal()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-2723e11c',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-0594b37d',
  'AvailabilityZone': 'us-west-2b',
  'PreferredMaintenanceWindow': 'tue:06:00-tue:06:30',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 4,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::995978081066:role/dwhRole',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current'},
 'ResponseMetadata': {'RequestId': 'b8f16bdb-fcdb-432b-82fa-d30973479ce6',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'b8f16bdb-fcdb-432b-82fa-d30973479ce6',
   'content-type': 'text/xml',
   'content-length': '2625',
   'vary': 'accept-encoding',
   'date': 'Wed, 17 Mar 2021 16:10:39 GMT'},
  'RetryAttempts': 0}}

- run this block several times until the cluster really deleted

In [29]:
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

ClusterNotFoundFault: An error occurred (ClusterNotFound) when calling the DescribeClusters operation: Cluster dwhcluster not found.

In [28]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)
#### CAREFUL!!

{'ResponseMetadata': {'RequestId': 'ebb77863-dad7-459f-9d88-d8b38d6a0abf',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'ebb77863-dad7-459f-9d88-d8b38d6a0abf',
   'content-type': 'text/xml',
   'content-length': '200',
   'date': 'Wed, 17 Mar 2021 16:12:58 GMT'},
  'RetryAttempts': 0}}